.app-background-color {
    background-color: white;
}

.login-card-background-color {
    background-color: lightblue;
}

.is-color-dark-orange {
    color: #B34A2D;
}

.has-rounded-borders {
    border-radius: 2%;
}
